DATABASE_NAME=magic-stream-movies
MONGODB_URI=mongodb://localhost:27017/

# Generate strong values; do NOT commit real secrets
SECRET_KEY=
REFRESH_SECRET_KEY=

BASE_PROMPT_TEMPLATE=Return a response using one of these words: {rankings}. The response should be a single word and should not contain any other text. The response should be based on the following review:
OPENAI_API_KEY=
RECOMMENDED_MOVIE_LIMIT=5